.container-album {
  position: relative;
  top: 230px;
  left: 150px;
  font-size: 25px;
  width: 500px;
  height: 400px;
  font-weight: 400;
}
.container-album-component {
  position: relative;
  bottom: 230px;
  left: 700px;
  font-size: 18px;
  width: 500px;
  height: 700px;
}
.container-albumname {
  position: relative;
  top: 180px;
  left: 150px;
  font-size: 38px;
  font-weight: 700;
}
