.container-album {
  position: relative;
  top: 230px;
  left: 150px;
  font-size: 25px;
  width: 500px;
  height: 400px;
  font-weight: 400;
  
  background: linear-gradient(to right, #2B1B17	, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: monospace;
}
.container-album-component {
  position: relative;
  bottom: 230px;
  left: 700px;
  font-size: 18px;
  width: 500px;
  height: 700px;
  

}
.container-albumname {
  position: relative;
  top: 180px;
  left: 150px;
  font-size: 38px;
  font-weight: 700;
  font-family: Pacifico;
  text-decoration : underline;
}
